@media screen and (min-width: 750px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header {
        position: relative;
        flex-direction: column;
        align-items: stretch;
    }

    .header-top {
        justify-content: flex-start;
        gap: 1rem;
    }

    #menu {
        display: none;
    }

    nav {
        display: block;
        width: 100%;
        margin-top: 0.5rem;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .navigation li {
        flex: 0 0 auto;
    }

    .navigation a {
        display: block;
        color: var(--primary-text-color);
        padding: 0.75rem 1rem;
        text-decoration: none;
        text-align: center;
    }

    .navigation a:hover {
        background-color: var(--primary-color);
        color: var(--primary-text-color);
    }


    .card-left {
        grid-column: 1/3;
    }

    .card-right {
        grid-column: 3/4;
    }

    .card-courses {
        grid-column: 1/4;
    }

    .action-down {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .courses {
        margin: 5px;
    }
}